<!-- BEGIN Color Picker and Font Picker Markup -->
<div class="sp-container sp-hidden sp-light sp-buttons-disabled sp-palette-only sp-initial-disabled">
    <div class="sp-palette-container">
      <div class="sp-palette sp-thumb sp-cf">
        <div class="sp-cf sp-palette-row sp-palette-row-0">
          <span title="#fff778" data-color="rgb(255, 247, 120)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(255, 247, 120);"></span>
          </span>
          <span title="#67db67" data-color="rgb(103, 219, 103)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(103, 219, 103);"></span>
          </span>
          <span title="#9165c5" data-color="rgb(145, 101, 197)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(145, 101, 197);"></span>
          </span>
          <span title="#ff9b78" data-color="rgb(255, 155, 120)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(255, 155, 120);"></span>
          </span>
          <span title="#dfe6ea" data-color="rgb(223, 230, 234)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(223, 230, 234);"></span>
          </span>
          <span title="#9a9a9a" data-color="rgb(154, 154, 154)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(154, 154, 154);"></span>
          </span>
          <span title="#ffffff" data-color="rgb(255, 255, 255)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(255, 255, 255);"></span>
          </span>
          <span title="#fff555" data-color="rgb(255, 245, 85)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(255, 245, 85);"></span>
          </span>
          <span title="#44cc44" data-color="rgb(68, 204, 68)" class="sp-thumb-el sp-thumb-light">
            <span class="sp-thumb-inner" style="background-color:rgb(68, 204, 68);"></span>
          </span>
          <span title="#7343ad" data-color="rgb(115, 67, 173)" class="sp-thumb-el sp-thumb-dark">
            <span class="sp-thumb-inner" style="background-color:rgb(115, 67, 173);"></span>
          </span>
          <!-- Continue for all your palette items... -->
        </div>
        <div class="sp-cf sp-palette-row sp-palette-row-selection"></div>
      </div>
      <div class="sp-palette-button-container sp-cf">
        <button type="button" class="sp-palette-toggle">More &gt;</button>
      </div>
    </div>
    <div class="sp-picker-container">
      <div class="sp-top sp-cf">
        <div class="sp-fill"></div>
        <div class="sp-top-inner">
          <div class="sp-color" style="background-color: rgb(0, 212, 255);">
            <div class="sp-sat">
              <div class="sp-val">
                <div class="sp-dragger" style="top: 0px; left: 0px;"></div>
              </div>
            </div>
          </div>
          <div class="sp-clear sp-clear-display" title="Clear Color Selection" style="display: none;"></div>
          <div class="sp-hue">
            <div class="sp-slider" style="top: 0px;"></div>
          </div>
        </div>
        <div class="sp-alpha">
          <div class="sp-alpha-inner">
            <div class="sp-alpha-handle" style="left: 0px;"></div>
          </div>
        </div>
      </div>
      <div class="sp-input-container sp-cf">
        <input class="sp-input" type="text" spellcheck="false">
      </div>
      <div class="sp-initial sp-thumb sp-cf"></div>
      <div class="sp-button-container sp-cf">
        <a class="sp-cancel" href="#">cancel</a>
        <button type="button" class="sp-choose">choose</button>
      </div>
    </div>
  </div>
  
  <!-- Example Font Dropdowns -->
  <ul class="dropdownjs-ul fonts-dropdownjs">
    <li value="Golos Text" selected="selected" class="selected" tabindex="-1" style="font-family: 'Golos Text', sans-serif;">Golos Text</li>
    <li value="Rethink Sans" tabindex="-1" style="font-family: 'Rethink Sans', sans-serif;">Rethink Sans</li>
    <button name="fontManager" class="btn btn-primary" data-setting-name="display1Font">More fonts</button>
  </ul>
  <!-- You may have additional similar dropdowns for other font settings -->
  
  <!-- END Color and Font Picker Markup -->
  